{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/new_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <title>Студенты</title>
</head>
<body>

<div class="header">
    <div class="container1">
        <div class="header-line1">
            <div class="header-logo">
                <img class="logotype" src="{% static 'icons/URFU.png' %}" alt="">
            </div>
            <div class="nav">
                <a class="nav-item1" href="{% url 'logout' %}">Выход</a>
            </div>
        </div>
    </div>
</div>
<form id="sort-form" method="GET" action="{% url 'students:all_students' %}">
    <div class="container">
        <div class="left_table">
            <div></div>
            <div></div>
            <div class="naming_filter">
                <p class="label-title">Поиск по фильтрам</p>
            </div>
            <div class="dropdown-checkbox form-group">
                <p class="label-title">Специальность</p>
                <ul>
                    <li><label><input type="checkbox" name="type[]">Программная инженерия</label></li>
                    <li><label><input type="checkbox" name="type[]">ИВТ</label></li>
                    <li><label><input type="checkbox" name="type[]">ИБ</label></li>
                </ul>
            </div>
            <div class="dropdown-checkbox form-group">
                <p class="label-title">Форма обучения</p>
                <ul>
                    <li><label><input type="checkbox" name="type[]">Очная</label></li>
                    <li><label><input type="checkbox" name="type[]">Очно-заочная</label></li>
                    <li><label><input type="checkbox" name="type[]">Заочная</label></li>
                </ul>
            </div>
            <div class="dropdown-checkbox form-group">
                <p class="label-title">Ступень образования</p>
                <ul>
                    <li><label><input type="checkbox" name="type[]">Бакалавриат</label></li>
                    <li><label><input type="checkbox" name="type[]">Специалитет</label></li>
                    <li><label><input type="checkbox" name="type[]">Магистратура</label></li>
                </ul>
            </div>
        </div>

        <div class="central">
            <div class="block">
                <a class="blue-button" href="{% url 'students:create_student' %}">Добавить</a>


                <select name="sort_option" id="sort-select" class="sort-select">
                    <option value="" {% if sort_option is None %}selected{% endif %}>Сортировать по</option>
                    <option value="inc_year" {% if sort_option == 'inc_year' %}selected{% endif %}>Год по возрастанию
                    </option>
                    <option value="dec_year" {% if sort_option == 'dec_year' %}selected{% endif %}>Год по убыванию
                    </option>
                    <option value="inc_last_name" {% if sort_option == 'inc_last_name' %}selected{% endif %}>Фамилии
                    </option>
                </select>

                <input type="text" name="query" class="search-input" {% if query %} value="{{ query }}" {% endif %}
                       placeholder="Поиск">
                <button class="lupa-button"><img src="{% static 'icons/lupa.png' %}" alt="Изображение" class="lupa">
                </button>

            </div>

            <div class="additional-block">
                <div class="fio">ФИО</div>
                <div class="specialization">Специальность</div>
                <div class="year">Год выпуска</div>
                <div class="year">Редактировать</div>
            </div>

            <div class="additional-blocks">
                {% for student in page_obj %}
                    <div class="additional-block">
                        <div class="fio">{{ student.last_name }} {{ student.first_name }} {{ student.patronymic|default:'' }}</div>
                        <div class="specialization">{{ student.specialization.code }} {{ student.specialization }}</div>
                        <div class="year">{{ student.end_education_date }}</div>
                        <a href="{% url 'students:student' student.id %}"><img src="{% static 'icons/edit-icon.png' %}"
                                                                               alt="Редактировать"
                                                                               class="edit-icon"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right_table"></div>
    </div>
</form>


{% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page=


                            {{ page_obj.previous_page_number }}{% if query %}&query={{ query }}{% endif %}{% if sort_option %}&sort_option={{ sort_option }}{% endif %}">&lt;</a>
                </li>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num">
                        <a href="?page=

                                {{ p }}{% if query %}&query={{ query }}{% endif %}{% if sort_option %}&sort_option={{ sort_option }}{% endif %}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page=

                            {{ page_obj.next_page_number }}{% if query %}&query={{ query }}{% endif %}{% if sort_option %}&sort_option={{ sort_option }}{% endif %}">></a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}

</body>

<script>
    const selectElement = document.querySelector('.sort-select');
    const formElement = document.getElementById('sort-form');

    selectElement.addEventListener('change', function () {
        formElement.submit();
    });
</script>

<script>
    const selectElement = document.getElementById('sort-select');

    selectElement.addEventListener('change', function () {
        const selectedValue = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sort-select', selectedValue);
        const newUrl = window.location.pathname + '?' + urlParams.toString();
        window.location.href = newUrl;
    });
</script>
</html>


