{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/student_profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <title>Студенты</title>
</head>
<body>
<div class="web">

    <div class="header">
        <div class="container1">
            <div class="header-line1">
                <div class="header-logo">
                    <img class="logotype" src="{% static 'icons/URFU.png' %}" alt="">
                </div>
                <div class="nav">
                    <a class="nav-item1" href="{% url 'logout' %}">Выход</a>
                </div>
            </div>
        </div>
    </div>


    <div class="center">
        <div class="columns">
            <div class="left"></div>
            <div class="area">
                <div class="box-1">
                    <div>

                    </div>
                    <div class="edit">
                        <a href="" class="btn btn-primary">
                            <button class="but_edit">Редактировать</button>
                        </a>
                    </div>
                    <div class="back">
                        <a href="{% url 'students:all_students' %}" class="btn btn-primary">
                            <button class="but_back">Назад</button>
                        </a>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="boxes">
                        <p class="full-box-title">Фамилия</p>
                        <input class="full_field" name="last_name"
                               value="{{ student.last_name }}"
                               required>

                        <p class="full-box-title">Имя</p>
                        <input class="full_field" name="first_name"
                               value="{{ student.first_name }}"
                               required>

                        <p class="full-box-title">Отчество</p>
                        <input class="full_field" name="patronymic"
                               value="{{ student.patronymic|default:'' }}"
                               required>

                        <div class="boxx-4-1">
                            <p class="full-box-title">Специальность</p>
                            <p class="full-box-title">Год выпуска</p>

                            <input class="full_field" list="specialization_list" name="specialization" {% if student.specialization %} value="{{ student.specialization }}" {% endif %}>
                            <datalist id="specialization_list">
                                {% for value in form.specialization.field.queryset %}
                                    <option value="{{ value }}"></option>
                                {% endfor %}
                            </datalist>
                            <input class="full_field" name="end_education_date"
                                   value="{{ student.end_education_date }}">
                        </div>


                        <p class="full-box-title">Номер телефона</p>
                        <input class="full_field" name="phone_number" value="{{ student.phone_number|default:'' }}">


                        <p class="full-box-title">Почта</p>
                        <input class="full_field" name="email" value="{{ student.email|default:'' }}">


                        <p class="full-box-title">Академическая группа</p>
                        <input class="full_field" name="group" value="{{ student.group|default:'' }}">


                        <p class="full-box-title">Форма обучения</p>
                        <input class="full_field" list="education_form_list" name="education_form" {% if student.education_form %} value="{{ student.education_form }}" {% endif %}>
                        <datalist id="education_form_list">
                            {% for value in form.education_form.field.queryset %}
                                <option value="{{ value }}"></option>
                            {% endfor %}
                        </datalist>


                        <p class="full-box-title">Ступень образования</p>
                        <input class="full_field" list="education_stage_list" name="education_stage" {% if student.education_stage %} value="{{ student.education_stage }}" {% endif %}>
                        <datalist id="education_stage_list">
                            {% for value in form.education_stage.field.queryset %}
                                <option value="{{ value }}"></option>
                            {% endfor %}
                        </datalist>


                        <p class="full-box-title">Форма финансирования</p>
                        <input class="full_field" list="financing_form_list" name="financing_form" {% if student.financing_form %} value="{{ student.financing_form }}" {% endif %}>
                        <datalist id="financing_form_list">
                            {% for value in form.financing_form.field.queryset %}
                                <option value="{{ value }}"></option>
                            {% endfor %}
                        </datalist>


                        <p class="full-box-title">Гражданство</p>
                        <input class="full_field" list="citizenship_list" name="citizenship" {% if student.citizenship %} value="{{ student.citizenship }}" {% endif %}>
                        <datalist id="citizenship_list">
                            {% for value in form.citizenship.field.queryset %}
                                <option value="{{ value }}"></option>
                            {% endfor %}
                        </datalist>

                        <div class="save-btn">
                            <button class="but_edit" type="submit">Сохранить</button>
                        </div>
                        {{ form.errors }}
                    </div>
                </form>
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="footer">
        <div class="columns">
            <div class="foot_left"></div>
            <div class="foot_center">
                <p class="foot">
                    ©ФГАОУ ВО «УрФУ имени первого Президента России Б.Н.Ельцина»
                </p>
            </div>
            <div class="foot_right"></div>
        </div>
    </div>
</div>
</body>
</html>